<div class="row info-header">
    <div class="col-xs-12">
        <h3 class="step-1">Step 1: Meet Nick</h3>

        <div class="instructions">
            <div class="row">
                <div class="col-xs-6">
                <h5>Nick, a 5 year old boy, presents with his mother for comprehensive care.</h5>
                <p>It is his first visit. You (or the hygienist) obtain the following information on the initial evaluation:</p>
                <ol>
                <li><b>Patient medical hx</b>: overweight, asthma</li>
                <li><b>Meds</b>: Albuterol</li>
                <li><b>Allergies</b>: Peanut, milk, NKDA</li>
                <li><b>Chief Complaint</b>: Parents suspects "cavities" but asymptomatic</li>
                <li><b>Dental history</b>: Last dental visit over 1 year ago</li>
                <li><b>Home care</b>: Mother reports helping her son brush his teeth 2x/day with fluoridated toothpaste</li>
                <li><b>Clinical findings</b>: EOE: within normal limits, IOE: moderate plaque, calculus (-), caries on B(DO), I (DO), K(MO), L(DO), S(DO), T(MO), E(ML) and F (ML)</li>
                </ol>
                </div>
                <div class="col-xs-6">
                    <div class="meet-nick-intro"></div>
                </div>
            </div>

            <h5>Activity</h5>
            <p>
            Nick is a typical young patient that you likely see on a daily basis. Work with Nick and his mother through the following exercise to learn more about the importance of time in incorporating dietary counseling and nutrition professionals into your practice.
            </p>

        </div>
    </div>
</div>
