<div class="row">
    <div class="col-md-12">
        <h4 class="step-4">Step 4. Activity Complete</h4>
        <div class="instructions">
            <p>Before Nick returns for his next restorative treatment he is able to visit the Registered Dietitian you have found in his area. His mother was very pleased with the referral and reports that they have already instituted some changes in the family diet.</p>
        </div>
    </div>
</div>

<div class="dietitian_letter">
<p class="letterhead"><span class="name">Your Dietitian, MS, RD, CSP</span><br />
Registered Dietitian<br />
Board Certified Specialist in Pediatric Nutrition</p>

<p>Dear Dr. XXX:</p>

<p>Thank you for the referral of your patient Nick Williams for nutritional counseling. Nick and his mother visited my office and we discussed their nutritional concerns regarding his weight and oral health. Nick presented with a weight of 50 lbs, height of 42" and BMI of 19.9, placing him at a BMI-for-age above the 99th percentile.</p>

<p>In reviewing Nick's usual intake patterns the main issues include his:</p>
<ul>
<li>snacking habits</li>
<li>excessive juice consumption with decreased fruit/vegetable intake</li>
<li>food allergies</li>
</ul>

<p>Together we set three short-term nutrition goals for Mrs. Williams and her family:</p>

<ol>
<li>Nick to consume snacks away from the television</li>
<li>Substitute milk for juice two times per day</li>
<li>Add vegetable (frozen or fresh) to dinner</li>
</ol>

<p>We are scheduled to meet again to review their nutrition goals and continue their education on healthy eating.</p>

<p>Please feel free to contact me at any time regarding Nick, or any other patients who may require nutritional counseling. Thank you again for the referral and for including me in Nick's treatment team.</p>

<p>Sincerely,</p>
<p>Your Dietitian, MS, RD, CSP</p>

</div>