<div class="row">
    <div class="col-md-12">
        <h4><%= title %></h4>
        <div class="instructions"><%= instructions %></div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="available_time center-block">
            <div class="alert time_remaining" role="alert">Time Remaining</div>
            <div class="display_time"><span class="display_time_text"></span></div>
            <div class="time_minutes">minutes</div>
        </div>
        <div class="patient-chart center-block">
             <div class="patient-chart-text"></div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel-group">
            <% for (var i = 0; i < topics.models.length; i++) {%>
                <% var topic = topics.models[i] %> 
                <div data-id="<%= topic.attributes.id %>" class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <%= topic.attributes.text %>
                            <button class="btn btn-info btn-sm pull-right discuss">
                                <%= topic.attributes.estimated_time %> minutes (estimated)
                            </button>
                        </div>
                    </div>
                    <div class="panel-collapse collapse">
                        <div class="panel-body">
                            <div><%= topic.attributes.reply %><br /></div>
    
                            <h3>Actual Time: <%= topic.attributes.actual_time %> minutes</h3>
    
                            <button disabled="disabled" class="btn btn-default complete pull-right">
                                Close<br />
                            </button>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>
