    <div id="complete-overlay" class="well alert-error">
        <h1>You've run out of time!</h1>
        All information was recorded in your patient's chart.
    </div>
    <div class="information">
        <div class="available_time clearfix well">
            <div class="time_remaining">Time remaining:</div>
            <div id="display_time" class="display_time"><span class="display_time_text"></span></div>
            <div class="time_minutes">minutes</div>
        </div>
        <div id="patient-chart">
             <div id="patient-chart-text"></div>
        </div>
    </div>
    <div id="topic-accordion" class="panel-group">
        <% for (var i = 0; i < topics.models.length; i++) {%>
            <% var topic = topics.models[i] %> 
            <div id="<%=topic.attributes.id%>" class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="discuss">
                            <%= topic.attributes.text %>
                            <button class="btn btn-info btn-sm pull-right discuss" data-id="<%= topic.attributes.id %>" data-toggle="collapse"
                                    data-target="#reply-<%= topic.attributes.id %>" data-parent="#topics-accordion">
                                <%= topic.attributes.estimated_time %> minutes (estimated)
                            </button>
                        </div>
                    </div>
                </div>
                <div id="reply-<%= topic.attributes.id %>" class="panel-collapse collapse" data-id="<%=topic.attributes.id%>">
                    <div class="panel-body">
                        <div><%= topic.attributes.reply %><br /></div>

                        <h3>Actual Time: <%= topic.attributes.actual_time %> minutes</h3>

                        <button disabled="disabled" class="btn btn-default complete pull-right" data-toggle="collapse" data-target="#reply-<%= topic.attributes.id %>" data-parent="#topics-accordion">
                            Close<br />
                        </button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>