<% var nextIdx = current + 1; %>
<% for (var i = 0; i < steps.length; i++) { %>
    <a href="#<%=numbers[i+1]%>" data-idx='<%=i%>'
        <% if (i === current) { %>
            class="btn btn-arrow-right btn-step btn-primary"
        <% } else if (i === nextIdx && steps[current].complete && !steps[i].complete) { %>
            class="btn btn-arrow-right btn-step btn-info flash-next"
        <% } else { %>
            <% if (!steps[i].complete) { %>
                disabled="disabled"
            <% } %> 
            class="btn btn-arrow-right btn-step btn-info"
        <% } %>
    >Step <%=i + 1%></a>
<% } %>

<div class="activity-completed" <% if (!done) { %>style="display: none"<% } %>>
    <div class="btn btn-success done" style="padding-left: 30px;">
        <span class="glyphicon glyphicon-ok"></span>
        Activity Complete
    </div>
    <a href="#" class="btn btn-default btn-print">
    <span class="glyphicon glyphicon-print"></span>
    </a>
</div>
